.popup__save-button {
    background-image: url(../../../images/vectors/SubmitButton.svg);
    width: 358px;
    height: 50px;
    background-position: left;
    transition: opacity 0.1s linear;
    border: 0;
}

.popup_sure .popup__save-button {
    background-image: url(../../../images/vectors/yes.svg);
}

.popup_add-card .popup__save-button {
    background-image: url(../../../images/vectors/create.svg);
}

.popup__save-button:hover {
    cursor: pointer;
    opacity: 80%;
}

@media screen and (max-width: 530px) {
    .popup__save-button {
        width: 238px;
        height: 48px;
    }

    .popup_sure .popup__save-button {
        content: "";
        background: url(../../../images/vectors/yes.svg) no-repeat center;
    }
}