.popup__save-button {
    background: url(../../../images/vectors/SubmitButton.svg);
    width: 358px;
    height: 50px;
    background-size: contain;
    transition: opacity 0.1s linear;
    border: 0;
}

.popup__save-button:hover {
    cursor: pointer;
    opacity: 80%;
}

@media screen and (max-width: 530px) {
    .popup__save-button {
        background: url(../../../images/vectors/SubmitButtonSmall.svg);
        width: 238px;
        height: 46px;
    }
}