.element__like-button {
    position: absolute;
    bottom: 30px;
    right: 30px;
    background-image: url(../../../images/vectors/HeartDisabled.svg);
    width: 22px;
    height: 19px;
    transition: opacity 0.1s linear;
}

.element__like-button:hover {
    opacity: 50%;
    cursor: pointer;
}